---
layout: default-wide
---
<div class="column-list-layout">
	<div class="pure-g">
	{% for person in site.people %}
	{% for tag in person["tags (staff, board, advisor, partner)"] %}
  {% if tag == 'partner' %}
		<div class="pure-u-1 pure-u-md-1-4">
			<div class="post">
				<div class="post-header">
				{% if person.thumbnail and person.thumbnail != "" %}
				  <img src="{{ site.baseurl }}{{ person.thumbnail }}" alt="{{ person.title }}">
				{% else %}
					<img src="{{ site.baseurl }}/images/placeholder.png" alt="{{ person.title }}">
				{% endif %}
				</div>
				<div class="post-body">
					<h3><a href="{{ site.baseurl }}{{ person.url }}">{{ person.title }}</a></h3>
					{% if person.sub-title and page.sub-title != "" %}
						<div class="subtitle">{{ person.sub-title }}</div>
					{% endif %}
					<p>{{ person.content }}</p>
				</div>
			</div>
		</div>
	{% endif %}
	{% endfor %}
	{% endfor %}
	</div>
</div>
