---
layout: default
---
<div class="table-layout">
	<form action="" class="search-form">
		<input type="text" class="search" placeholder="Search">
		<span class="icon icon-search"></span>
	</form>
	<div class="">
		<table id="publications" class="tablesorter data-table">
			<thead>
				<tr>
					<th>Name <i class="fa"></i></th>
					<th>Date <i class="fa"></i></th>
					<th>Author <i class="fa"></i></th>
					<th>Project <i class="fa"></i></th>
				</tr>
			</thead>
			<tbody>
				{% for publication in site.publications %}
				<tr>
					<td><a href="{{ site.baseurl }}{{ publication.url }}">{{ publication.title | slice: 0, 40 }}</a></td>
					<td><date>{{ publication.date | date_to_string }}</date></td>
					<td>{{ publication.author }}</td>
					<td>
						{% for project in publication.project %}
							{{ project }}
						{% endfor %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
